![](https://i.imgur.com/0AUxkXt.png)

# Lecture 1 - Basic Python & SQL

## Basic Python

In [1]:
print("Hello World")

Hello World

### Variables and data types

In [2]:
# integer
x = 100
y = 2
x = x + 1

print(x)
type(y)

101

int

In [3]:
# float
y = 5.0 
print(y)
print(type(y))

5.0
<class 'float'>

In [4]:
# math operations
x = 15
y = 4
print(x + y)
print(x - y)
print(x / y)
print(x * y)
print('---')
print(x // 2)
print(x % 2)

print(21 // 5)
print(27 % 3)

x = 5
x % 2 == 1

19
11
3.75
60
---
7
1
4
0

True

In [5]:
# string
s1 = 'hello'
s2 = "world"
print(type(s1))

<class 'str'>

In [6]:
message = s1 + ' ' + s2
print(message)

hello world

In [7]:
# boolean
b = True
print(not b)
print(type(b))

False
<class 'bool'>

In [8]:
print('2 < 3 :', 2 < 3)
print('10 > 20 :', 10 > 20)
print('4 == 5 :', 4 == 5)
print('4 != 5 :', 4 != 5)

x = 3
min = 1
max = 5
print(x, 'is not between', min, 'and', max, ':', not ((x >= min) and (x <= max))) 
# How about not between?

2 < 3 : True
10 > 20 : False
4 == 5 : False
4 != 5 : True
3 is not between 1 and 5 : False

In [9]:
# list
li = []
li.append(1)    # li is now [1]
li.append(2)    # li is now [1, 2]
li.append(3)    # li is now [1, 2, 3]
li.append(4)    # li is now [1, 2, 3, 4]
# Remove from the end with pop
li.pop()        # => 4 and li is now [1, 2, 3]
# Let's put it back
li.append(4)    # li is now [1, 2, 3, 4] again.
li

[1, 2, 3, 4]

In [10]:
# list subscripting
print(li[0])
print(li[0:2])
print(li[::-1])

1
[1, 2]
[4, 3, 2, 1]

In [11]:
# tuple is like list but immutable
tup = (1, 2, 3)
print(tup[0])

1

### The if-statement

In [12]:
import numpy as np

x = np.random.randint(10)
# x = 3
answer = ''
if x > 5: 
    answer = "Greater than 5"
elif x < 3:
    answer = "Less than 3"
else:
    if x == 3:
        answer = "equal 3"
    elif x == 4:
        answer = "equal 4"
    else:
        answer = "equal 5"
print(x)
print(answer)

# Notice the code indentation

3
equal 3

### The for-loop

In [13]:
a = list(range(1,5))
print(a)

[1, 2, 3, 4]

In [14]:
# iterate a list
for i in a:
  print(f"processing {i}")

processing 1
processing 2
processing 3
processing 4

In [15]:
# iterate a list with index
for i, v in enumerate(a):
  print(f"index {i} - value {v}")

index 0 - value 1
index 1 - value 2
index 2 - value 3
index 3 - value 4

In [16]:
even = [i for i in a if i % 2 == 0]
even

[2, 4]

### The while-loop

In [17]:
counter = 0
while (counter < 12):
    print(counter)
    counter = counter + 2

0
2
4
6
8
10

### The function

In [18]:
def add(a, b):
  return a + b

In [19]:
add(1, 2)

3

In [20]:
def multiple_add(*args):
  return sum(args)

In [21]:
multiple_add(2,3,4)

9

### Example: Money exchange

In [26]:
bills = [500, 200, 100, 50, 20, 10, 5, 2, 1]

def exchange(money, sorted_bills):
  i = 0
  changes = [0] * len(sorted_bills);
  while (money > 0):
    if money >= sorted_bills[i]:
      changes[i] = money // sorted_bills[i]
      money -= changes[i]*sorted_bills[i]
    i += 1
  return changes

exchange(2300, bills) # expected [4, 1, 1, 0, 0, 0, 0, 0, 0]

[4, 1, 1, 0, 0, 0, 0, 0, 0]

In [23]:
print("2300k can be exchanged with: ")
for idx, value in enumerate(exchange(2300, bills)):
  print(f"\t {value} * {bills[idx]}k")

2300k can be exchanged with:
	 4 * 500k
	 1 * 200k
	 1 * 100k
	 0 * 50k
	 0 * 20k
	 0 * 10k
	 0 * 5k
	 0 * 2k
	 0 * 1k

### Practice

#### Problem 1

This problem was recently asked by Google.

Given a list of numbers and a number k, return whether any two numbers from the list add up to k.

For example, given [10, 15, 3, 7] and k of 17, return true since 10 + 7 is 17.

Bonus: Can you do this in one pass?

In [4]:
def resolve(a, k):
    b = [False] * 10000
    for i in a:
        b[i] += 1;
    for i in a:
        if b[k-i] > 0:
            b[i] -= 1;
            b[k-i] -= 1;
            print(i, 17-i)
            
resolve([10,15,3,7], 17)

10 7

#### Problem 2

This problem was asked by Stripe.

Given an array of integers, find the first missing positive integer in linear time and constant space. In other words, find the lowest positive integer that does not exist in the array. The array can contain duplicates and negative numbers as well.

For example, the input [3, 4, -1, 1] should give 2. The input [1, 2, 0] should give 3.

You can modify the input array in-place.

In [2]:
def resolve(nums):
    s = set(nums)
    i = 1
    while i in s:
        i += 1
    return i

print(resolve([3,4, -1, 1]))

2

#### Problem 3
Write a function that rotates a list by k elements. For example, [1, 2, 3, 4, 5, 6] rotated by two becomes [3, 4, 5, 6, 1, 2]. Try solving this without creating a copy of the list. How many swap or move operations do you need?

In [3]:
list = [1, 2, 3, 4, 5, 6, 7, 8]
k = 3

def resolve(list, k):
    return list[k:] + list[:k]

print(resolve(list,k))

[4, 5, 6, 7, 8, 1, 2, 3]

## SQL - Structured Query Language

![](https://i.imgur.com/kCaiMK5.png)

In [35]:
# Download database
!wget https://ml101-khanhnguyen.s3-ap-southeast-1.amazonaws.com/devc/chinook.db

--2019-07-16 20:24:08--  https://ml101-khanhnguyen.s3-ap-southeast-1.amazonaws.com/devc/chinook.db
Resolving ml101-khanhnguyen.s3-ap-southeast-1.amazonaws.com (ml101-khanhnguyen.s3-ap-southeast-1.amazonaws.com)... 52.219.36.107
Connecting to ml101-khanhnguyen.s3-ap-southeast-1.amazonaws.com (ml101-khanhnguyen.s3-ap-southeast-1.amazonaws.com)|52.219.36.107|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 884736 (864K) [binary/octet-stream]
Saving to: ‘chinook.db’

chinook.db          100%[===================>] 864.00K   962KB/s    in 0.9s

2019-07-16 20:24:09 (962 KB/s) - ‘chinook.db’ saved [884736/884736]

In [36]:
import sqlite3
conn = sqlite3.connect('chinook.db')

In [37]:
cur = conn.cursor()

In [38]:
cur.execute('SELECT * FROM albums LIMIT 5;')

In [39]:
results = cur.fetchall()
print(results)

[(1, 'For Those About To Rock We Salute You', 1), (2, 'Balls to the Wall', 2), (3, 'Restless and Wild', 2), (4, 'Let There Be Rock', 1), (5, 'Big Ones', 3)]

In [40]:
import pandas as pd
df = pd.read_sql_query('SELECT albumid, title FROM albums LIMIT 10;', conn)
df

   AlbumId                                  Title
0        1  For Those About To Rock We Salute You
1        2                      Balls to the Wall
2        3                      Restless and Wild
3        4                      Let There Be Rock
4        5                               Big Ones
5        6                     Jagged Little Pill
6        7                               Facelift
7        8                         Warner 25 Anos
8        9         Plays Metallica By Four Cellos
9       10                             Audioslave

In [41]:
df = pd.read_sql_query('SELECT * FROM albums ORDER BY title LIMIT 5;', conn)
df

   AlbumId                                              Title  ArtistId
0      156                             ...And Justice For All        50
1      257  20th Century Masters - The Millennium Collecti...       179
2      296                      A Copland Celebration, Vol. I       230
3       94                         A Matter of Life and Death        90
4       95                                    A Real Dead One        90