![](https://i.imgur.com/0AUxkXt.png)

# Lab 3 - From data to insights

Before you explore the data, write down a short list of what you expect to see in the data: the distribution of key variables, the relationships between important pairs of them, and so on. Such a list is essentially a prediction based on your current understanding of the business.

Now analyze the data. Make plots, do summaries, whatever is needed to see if it matches your expectations.

Is there anything that doesn’t match? Anything that makes you go “That’s odd” or “That doesn’t make any sense.”?

Zoom in and try to understand what in your business is making that weird thing show up in the data like that. This is the critical step.

You may have just found an insight into the business and increased your understanding


## The data analysis checklist

This checklist can be used as a guide during the process of a data analysis, or as a way to evaluate the quality of a reported data analysis.

### Answering the first questions

1. Did you define the metric for success before beginning?
2. Did you understand the context for the question and business application?
3. Did you consider whether the question could be answered with the available data?

### Cleaning the data

1. Did you identify the missing data?
2. Is each variable one column?
3. Do different data types appear in each table?
4. Did you try to identify any errors or miscoding of variables?
5. Did you check for outliers?

### Exploratory analysis

1. Did you make univariate plots (histogram, distplot, boxplot)?
2. Did you consider correlations between variables (scatterplot, jointplot, kde plot, correlation matrix)?
3. Did you check the units of all data points to make sure they are in the right range?

### Presentations

1. Did you lead with a brief, understandable to everyone of your problem?
2. Did you explain the data, describe the question of interest?
3. Did you make sure all legends and axes were legible from the back of the room?

## Example - San Francisco city employee salary data

One way to understand how a city government works is by looking at who it employs and how its employees are compensated. This data contains the names, job title, and compensation for San Francisco city employees on an annual basis from 2011 to 2014.


### Step 1 - Exploration Ideas

1. How have salaries changed over time between different groups of people?
2. How are base pay, overtime pay, and benefits allocated between different groups?
4. How is budget allocated based on different groups and responsibilities?

### Step 2 - Checking the data

**Import tools set**

In [1]:
%config InlineBackend.figure_format ='retina'
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

sns.set_style("whitegrid")

**Import data**

In [2]:
# Fill the blanks
# link = "https://ml101-khanhnguyen.s3-ap-southeast-1.amazonaws.com/devc/Salaries.csv"
sal = ___.___('___')

AttributeError: 'str' object has no attribute '___'

**Check out head(), sample(), info(), describe()**

In [ ]:
# Fix the error
sals.head()

In [ ]:
# Fix the error
sal.sample[5]

In [ ]:
# Fix the error
sal.infos()

In [ ]:
# Fix the error
sal.description()

### Step 3 - Cleaning the data

Few of useful data cleaning functions:

* `s.astype('category')` # This will convert the datatype of the series to float *Please note that "s" here is a Pandas Series

* `s.replace(1,'one')` # This will replace all values equal to 1 with 'one'

* `s.replace([1,3],['one','three'])` # This will replace all 1 with 'one' and 3 with 'three'

* `data.rename(columns=lambda x: x + 1)` # Mass renaming of columns

* `data.rename(columns={'oldname': 'new name'})` # Selective renaming

* `data.set_index('column_one')` #  This will change the index

* `data.rename(index=lambda x: x + 1)` # Mass renaming of index

* `data.dropna()` # Remove missing values

* `data.fillna(x)` #  This will replaces all null values with x

* `s.fillna(s.mean())` # This will replace all null values with the mean (mean can be replaced with almost any function from the below section) :

* `data.corr()` # This will return the correlation between columns in a DataFrame

* `data.count()` # This will return the number of non-null values in each DataFrame column

* `data.max()` # This will return the highest value in each column

* `data.min()` # This will return the lowest value in each column

* `data.median()` # This will return the median of each column

* `data.std()` # This will returns the standard deviation of each column

**Check duplication in columns in which the data must be unique**

In [ ]:
# Id must be unique
# So the number of unique values must be equal the number of rows
# Fill the blanks
sal['Id'].___() == ___.___()

**Change the type to category**

In [ ]:
sal['Id'] = sal['Id'].astype('category')

# Change Year to be a categorical variable too
# Your code here

**Drop unnecessary columns**

In [ ]:
# Look at the info() again, which columns you can drop immediately?
# Fill the blanks
sal.drop(columns=['___', '___'], inplace=True)

In [ ]:
# Are there any other columns that don't bring us much information?
# Drop them coldbloodedly
# Your code here

In [ ]:
# Check again with info()
# Your code here

**Check for NaN values**

In [ ]:
# Fill the blank
sal.___().sum()

**Examine few examples of NaN values**

In [ ]:
# List all NaN values of OtherPay
# Fill the blanks
sal[___['___'].isnull()]

**Drop missing values of OtherPay and OvertimePay**

In [ ]:
# Option 1
# sal.drop(labels=[148646, 148650, 148651, 148652], axis=0)

# Something cooler
# Solution: Select data that OtherPay is not null and assign it to the dataframe 'sal'
# Your code here

**Analize missing values of BasePay and Benefits**

In [ ]:
# Select 5 sample of data that BasePay is null
# Your code here

**For BasePay and Benefits, it is clear that NaN values are zeroes (from TotalPay and TotalPayBenefits).**

**So, simply fill NaN values with 0**

In [ ]:
# Fill the blanks
sal['Benefits'].___(value=__, inplace=True)

In [ ]:
# Fill the blanks
sal['___'].___(___=___,inplace=True)

In [ ]:
# Let check for NaN values again
# Your code here

**Min values of some payments are negative. Let's check it out**

In [ ]:
# Select data that has negative TotalPay or TotalPayBenefits
# Fill the blanks
sal[(sal['___'] ___) | (sal['___'] ___)]

**There are only 4 of them, we can safely drop these data**

In [ ]:
# Your code here

**Identify any errors or miscoding of variables**

In [ ]:
# Check the unique values of Year
# Your code here

Check duplication

In [ ]:
# Apply strip() on EmployeeName and Jobtitle 
# to remove all the leading and trailing spaces
# Fill the blanks
sal['EmployeeName'] = sal['___'].___.strip()
sal['JobTitle'] = sal['___'].___.strip()

In [ ]:
# Check the number of unique value of EmployeeName
sal['EmployeeName'].nunique()

In [ ]:
# Check the number of unique value of EmployeeName in lower case
# Fill the blanks
sal['EmployeeName'].___.lower().___()

In [ ]:
# Do the same with JobTitle
# Fill the blank
print(sal['JobTitle'].___())
print(sal['JobTitle'].___.lower().___())

In [ ]:
# Select the most common name
# Something wrong, fix the error
names = sal['EmployeeNames'].str.lower().value_counts()
sample = names[names > 1].head(1).index
sal[sal['EmployeeNames'].str.lower().isin(samples)]

*The names are duplicated because the data describes one person in different years or just because there are people who have same name. It's ok so we only need to uppercase all of the name to eliminate case sensitive.*

*But there are definitely some duplication of Job Title, example `Police Officer 3` and `POLICE OFFICER III`*

In [ ]:
# Replace Name and Job Title with its uppercase
# Fill the blanks
sal['EmployeeName'] = sal['EmployeeName'].___.___()
sal['JobTitle'] = sal['JobTitle'].___.___()

In [ ]:
# Write a regular expression to select JobTitle that ends with a digit
# Fill the blank
sal['JobTitle'][sal['JobTitle'].str.contains('___', regex=True)].value_counts()

In [ ]:
# Write a regex that count all type of POLICE OFFICER
# Fill the blank
sal['JobTitle'][sal['JobTitle'].str.contains('___', regex=True)].value_counts()

In [ ]:
# This is a simple function to transform roman number
def transform_roman(s):
    d = {'I':1, 'II':2, 'III':3, 'IV':4, 'V':5, 'VI':6, 'VII':7, 'VIII':8, 'IX':9, 'X':10, 
        'XI':11, 'XII':12, 'XIII':13, 'XIV':14, 'XV':15, 'XVI':16, 'XVII':17, 'XVIII':18, 'XIX':19, 'XX':20}
    
    s_split = s.split()
    if s_split[-1] in d.keys():
        s_split[-1] = str(d[s_split[-1]])
    return ' '.join(s_split)

# Test it out
transform_roman('POLICE OFFICER III')

In [ ]:
# Apply the function above to the column JobTitle
# Fill the blank
sal['JobTitle'] = sal['JobTitle'].apply(___)

### Step 4 - EDA

**Plot categorical data**

In [ ]:
sns.countplot(x='Year', data=sal)
# What can you tell about this?

**Top 5 common job titles**

In [ ]:
# Fill the blanks
sal['JobTitle'].___().___().___(kind='barh')

**Distribution of numerical data**

In [ ]:
# Run this
sns.distplot(sal['TotalPayBenefits'])

In [ ]:
# Histogram is sensitive with the bins, try some examples to prove that
plt.hist(sal['TotalPayBenefits'], bins=5)
plt.show()

In [ ]:
# Plot these diagrams in a dashboard with two rows and two columns
# sns.kdeplot(sal['BasePay'])
# sns.kdeplot(sal['OvertimePay'])
# sns.kdeplot(sal['OtherPay'])
# sns.kdeplot(sal['Benefits'])

f, axes = plt.subplots(2, 2, figsize=(12, 6))

# Your code here

plt.show()

In [ ]:
# Plot these diagrams in a dashboard with one rows and two columns
# sns.distplot(sal['TotalPay'])
# sns.distplot(sal['TotalPayBenefits'])

f, axes = plt.subplots(1, 2, figsize=(12, 6))

# Your code here

plt.show()

**Analize richest people**

In [ ]:
# Select people that have TotalPayBenefit greater than $300k
# Your code here

In [ ]:
def split_income_type(n):
    if n < 1000:
        return 'Retired'
    elif n < 50000:
        return 'Low Income'
    elif n < 150000:
        return 'Midrange'
    elif n < 250000:
        return 'High Income'
    else:
        return 'Millionaire'

In [ ]:
# Apply the function above to create a new column name IncomeType from TotalPayBenefits
# Fill the blank
sal['IncomeType'] = ___

In [ ]:
sns.countplot(sal['IncomeType'])
# What can you tell?

In [ ]:
# Pie chart
labels = []
sizes = []
explode = []

labels = sal['IncomeType'].value_counts().index
for index, size in enumerate(sal['IncomeType'].value_counts()):
    sizes.append(size)
    if labels[index] == 'Millionaire':
        explode.append(0.2)
    else:  # add high income too?
        explode.append(0)

_, ax1 = plt.subplots()
ax1.pie(sizes,
        explode=explode,
        labels=labels,
        autopct='%1.1f%%',
        shadow=True,
        startangle=45)
# Equal aspect ratio ensures that pie is drawn as a circle
ax1.axis('equal')
plt.tight_layout()
plt.show()

In [ ]:
# What is the top 10 Job Title of Millionaire
# Fill the blank
millionare_jobs = sal[___].groupby('JobTitle').mean()
millionare_jobs.sort_values(by=['TotalPayBenefits'], ascending=___)['TotalPayBenefits'].___(10).plot(kind='___')

In [ ]:
# Find the name of 10 richest man
# Your code here

In [ ]:
# Analyze TotalPayBenefits of 10 richest man each Year
# Your code here

### You are awesome!!