![](https://i.imgur.com/0AUxkXt.png)

# Lecture 4 - Google Data Studio

## Interaction with Google Sheets

First, we'll install the package using pip.

In [0]:
!pip install --upgrade -q gspread
!pip install gspread oauth2client

Requirement already satisfied: gspread in /usr/local/lib/python3.6/dist-packages (3.1.0)
Requirement already satisfied: oauth2client in /usr/local/lib/python3.6/dist-packages (4.1.3)
Requirement already satisfied: requests>=2.2.1 in /usr/local/lib/python3.6/dist-packages (from gspread) (2.21.0)
Requirement already satisfied: httplib2>=0.9.1 in /usr/local/lib/python3.6/dist-packages (from oauth2client) (0.11.3)
Requirement already satisfied: six>=1.6.1 in /usr/local/lib/python3.6/dist-packages (from oauth2client) (1.12.0)
Requirement already satisfied: pyasn1>=0.1.7 in /usr/local/lib/python3.6/dist-packages (from oauth2client) (0.4.5)
Requirement already satisfied: rsa>=3.1.4 in /usr/local/lib/python3.6/dist-packages (from oauth2client) (4.0)
Requirement already satisfied: pyasn1-modules>=0.0.5 in /usr/local/lib/python3.6/dist-packages (from oauth2client) (0.2.5)
Requirement already satisfied: idna<2.9,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests>=2.2.1->gspread) (2.8)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests>=2.2.1->gspread) (2019.6.16)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests>=2.2.1->gspread) (3.0.4)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests>=2.2.1->gspread) (1.24.3)

Next, we'll import the library, authenticate, and create the interface to sheets.

In [0]:
from google.colab import auth
auth.authenticate_user()

import gspread
from oauth2client.client import GoogleCredentials
from gspread_dataframe import get_as_dataframe, set_with_dataframe

gc = gspread.authorize(GoogleCredentials.get_application_default()) #grant access to google drive

**Cleaning Data**

In [0]:
sh = gc.open('Ramen_ratings')

In [0]:
import pandas as pd

df = pd.DataFrame(sh.sheet1.get_all_records())

In [0]:
df.head()

           Brand        Country  ...  Top Ten                                 Variety
0         Ottogi    South Korea  ...            Plain Instant Noodle No Soup Included
1  Samyang Foods    South Korea  ...                                       Sari Ramen
2       Mi E-Zee       Malaysia  ...                                    Plain Noodles
3      Nanoblock          Japan  ...                                      Ramen Bokki
4       Nona Lim  United States  ...           Hakata Ramen + Thai Curry & Lime Broth

[5 rows x 7 columns]

In [0]:
df.columns = ['Brand', 'Country', 'Reviews', 'Ratings', 'Style', 'Top Ten', 'Variety']

In [0]:
df.head()

           Brand        Country  ...  Top Ten                                 Variety
0         Ottogi    South Korea  ...            Plain Instant Noodle No Soup Included
1  Samyang Foods    South Korea  ...                                       Sari Ramen
2       Mi E-Zee       Malaysia  ...                                    Plain Noodles
3      Nanoblock          Japan  ...                                      Ramen Bokki
4       Nona Lim  United States  ...           Hakata Ramen + Thai Curry & Lime Broth

[5 rows x 7 columns]

In [0]:
# df['Top Ten Position'] = df['Top Ten'].apply(lambda text: text[:4] if len(text)>4 else '')

def first_4(text):
  if (len(text) > 4):
    return text[:4]
  else:
    return ''

df['Top Ten Year'] = df['Top Ten'].apply(first_4)

In [0]:
df['Top Ten Year'].unique()

array(['', '2016', '2015', '2013', '2014', '2012'], dtype=object)

In [0]:
df['Top Ten Position'] = df['Top Ten'].apply(lambda x: x[6:8] if len(x)>4 else '')

In [0]:
df['Top Ten Position'].unique()

array(['', '10', '1', '8', '5', '9', '7', '4', '6', '2', '3'],
      dtype=object)

In [0]:
df.sample(5)

               Brand    Country  ...  Top Ten Year Top Ten Position
845            Maggi      India  ...
2690          Itsuki      Japan  ...
1285  Tropicana Slim  Indonesia  ...
2387           Kailo  Hong Kong  ...
2439            Koka  Singapore  ...

[5 rows x 9 columns]

**Export Dataframe to Google Spread Sheets**

In [0]:
sh = gc.create('Ramen_ratings_cleaned')

In [0]:
sh.values_update(
    'Sheet1!A1', 
    params={'valueInputOption': 'RAW'}, 
    body={'values': [df.columns.tolist()]}
)

{'spreadsheetId': '1BsvXCKN0U5wBNGD_HmVl50kcMPIkt4s497noEEWhmVU',
 'updatedCells': 9,
 'updatedColumns': 9,
 'updatedRange': 'Sheet1!A1:I1',
 'updatedRows': 1}

In [0]:
sh.values_update(
    'Sheet1!A2', 
    params={'valueInputOption': 'RAW'}, 
    body={'values': df.fillna("").values.tolist()}
)

{'spreadsheetId': '1BsvXCKN0U5wBNGD_HmVl50kcMPIkt4s497noEEWhmVU',
 'updatedCells': 24750,
 'updatedColumns': 9,
 'updatedRange': 'Sheet1!A2:I2751',
 'updatedRows': 2750}